In [1]:
import pandas as pd

In [2]:
juv_app_IPC = pd.read_csv(r"D:\Data Science\Intern\Code\AggregrateData\08_01_Juvenile_apprehended_state_IPC.csv")
juv_app_SLL = pd.read_csv(r"D:\Data Science\Intern\Code\AggregrateData\08_02_Juvenile_apprehended_state_SLL.csv")

In [3]:
juv_app_IPC.head()

,STATE/UT,Year,CRIME,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
0,Andhra Pradesh,2001,Murder,3,0,7,0,5,0,15,0,15
1,Andhra Pradesh,2001,Attempt to Commit Murder,2,0,0,0,11,0,13,0,13
2,Andhra Pradesh,2001,C H Not amounting to Murder,0,0,0,0,0,0,0,0,0
3,Andhra Pradesh,2001,Rape,2,0,15,0,2,1,19,1,20
4,Andhra Pradesh,2001,Custodial Rape,0,0,0,0,0,0,0,0,0

In [4]:
juv_app_SLL.head()

,STATE/UT,Year,CRIME,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
0,Andhra Pradesh,2001,"Arms Act, 1959",0,0,2,0,0,0,2,0,2
1,Andhra Pradesh,2001,Narcotic Drugs and Psychotropic Substanc,0,0,0,0,0,0,0,0,0
2,Andhra Pradesh,2001,Gambling Act,0,0,6,0,0,0,6,0,6
3,Andhra Pradesh,2001,Excise Act,0,0,7,0,0,0,7,0,7
4,Andhra Pradesh,2001,Prohibition Act,0,0,37,0,0,0,37,0,37

In [5]:
juv_app_SLL["Legal Framework"] = "SLL"
juv_app_IPC["Legal Framework"] = "IPC"

In [6]:
juv_app = pd.concat([juv_app_IPC, juv_app_SLL], ignore_index=True)

In [10]:
juv_app.shape

(19950, 13)